
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.enterTrait{
  border: solid 2px white;
  font-family: 'Nunito', sans-serif;
  
}

.displayInfo {
  border: solid 2px white;
  font-family: 'Nunito', sans-serif;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

